@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<img src="https://localhost:7047/api/v1/FileStorage/s3/GetFile/output/353fec96-5bab-4a92-99c4-80814313eace.jpg" />